body{
margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;
transition:1s;
}

.intro{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
background:#00ffd5;
cursor:pointer;
border-radius:8px;
}

.hidden{
display:none;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
width:200px;
padding:20px;
background:#111;
border-radius:15px;
cursor:pointer;
transition:0.5s;
}

.card:hover{
transform:scale(1.1);
background:#00ffd5;
color:black;
}

.message{
display:none;
margin-top:10px;
}

#secret{
font-size:20px;
color:#00ffd5;
margin-top:20px;
}