body{
margin:0;
font-family:monospace;
background:black;
color:#00ffd5;
text-align:center;
}

.hidden{
display:none;
}

#boot{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

input{
padding:10px;
margin:10px;
background:black;
border:1px solid #00ffd5;
color:white;
}

button{
padding:10px 20px;
background:#00ffd5;
border:none;
cursor:pointer;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
width:200px;
height:120px;
display:flex;
justify-content:center;
align-items:center;
background:#111;
border-radius:10px;
transition:0.5s;
cursor:pointer;
}

.card:hover{
transform:rotateY(20deg) scale(1.1);
background:#00ffd5;
color:black;
}

.chatbox{
margin-top:30px;
}

#chat{
height:150px;
overflow:auto;
border:1px solid #00ffd5;
padding:10px;
margin-bottom:10px;
}

#secretText{
font-size:22px;
color:yellow;
margin-top:20px;
}