body{
margin:0;
font-family:monospace;
background:black;
color:#00ffcc;
overflow:hidden;
text-align:center;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

.login-screen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

button{
padding:12px 25px;
margin:10px;
background:#00ffcc;
border:none;
cursor:pointer;
font-size:16px;
border-radius:6px;
}

.hidden{
display:none;
}

.panel{
margin:20px;
}

.hidden-text{
display:none;
font-size:18px;
color:white;
}

#secret{
font-size:22px;
color:yellow;
margin-top:20px;
}